/* reset */
body{ background-color: #ffffff;}
body, ul, li, div, section, ol, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, header, footer{ /*블록태그들*/
   margin: 0; padding: 0;
   font-family: '맑은 고딕';
   font-size: 16px;
   color: #666666;
   line-height: 2;
   letter-spacing: -1px;
 }

ul, li, dl, dt, dd, ol{
  list-style: none;
}

a{ color: #666666; text-decoration: none;}
a:hover{ color: #009688;}  /*보조컬러 : #6a6a6a*/

img{ border: none;}

/*검수할때 쓸려고(검수할때 쓰는 애들은 스타일을 아주 구체적으로, !임폴턴트 넣기)*/
.red{ border-bottom: red 1px solid !important;}


/* common */  /*공통클래스로 젤 중요한애들 미리 만들어두기*/
.container{ width: 1000px; margin: 0 auto;}
.clear:after{ content: ""; display: block; clear: both;}

.rel{ position: relative;}
.abs{ position: absolute;}
.fix{ position: fixed;}

.fl{ float: left;}
.fr{ float: right;}

.disB{ display: block;}
.disN{ display: none;}
.disIB{ display: inline-block;}


/* 레이아웃 */
header#hd{ padding: 15px 0; position: relative;}
.back{ height: 150px; background: black; position: absolute; width: 100%; top:100%; left: 0;}

/* 프로 */
#hd a,#hd img{display: block;} /*a태그와 img태그(인라인태그들)의 실지렁이 여백사라지라고.. 짱중요!*/
#gnb>li{ /*background-color: red;*/
        height:46px;
        z-index: 100;
      }
#gnb>li>a{ font-weight: bold; font-size: 18px; line-height: 46px; padding-left: 2em;
           padding-bottom: 15px;}
#gnb .d2{
  background-color: black; top:calc(100% + 15px); left: 15px; padding: 0 15px; width: 100px;
  height: 0px; transition: 0.5s; overflow: hidden;
   }
#gnb .d2
#gnb .d2 a{ font-size: 0.9em; line-height: 1.5; color: white;}
#gnb .d2::before{content: ""; display: block; height: 15px;}


#gnb li:first-child(1) .d2{ left: 30px;}
#gnb li:first-child(4) .d2{ width: 70px;}


/*#gnb>li:hover .d2{ height: 120px;} /*마우스가 올라간 대메뉴li들 속에 소메뉴.d2의 높이가 120px이 되어라*/
#gnb:hover .d2{ height: 120px;} /*전체 소메뉴 노출*/

#gnb>li:hover>a{ color: #009688;} /*마우스가 올라간 대메뉴li들 속에 a링크들은  */


section#main{}
footer#fd{}
